/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Orbitron:wght@400..900&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko&display=swap');

body{
  font-family: 'Orbitron', sans-serif
}

.hoemcont {
  overflow: hidden;
  overflow-y: hidden;
}

/* Optional: if you have other scrollable elements inside the component */
.hoemcont .scrollable-element {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --aha: rgb(245, 98, 41);
  --slblack: rgb(33, 33, 33);
  --trans: rgba(0, 0, 0, 0.5);
  --hunter-green: #3a5a40ff;
  --brunswick-green: #344e41ff;
  --search: #fff;
  --toastify-color-error:rgb(245, 98, 41) ;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
}
.hoemcont{
  justify-content: center;
  align-items: center;
  background-color: var(--trans);
}

.hoemcont::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hoemcont {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.totusecont{
  justify-content: center;
  align-items: center;
  background-color: var(--trans);
}

.totusecontpub{
display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 100vh; 
  background-color: var(--trans);
}

.totusecontpub h2,p{
  color: white;
}
/* Sign in page CSS */
.backimg {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./Assests//background1.jpeg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-google-button {
  /* background-color: var(--fern-green); */
  color: var(--aha);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.custom-google-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.custom-google-button span {
  text-transform: capitalize;
  font-weight: 900;
  padding: 5px;
}

.logintext {
  transform: translate(-50%, -50%);
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid white;
  width: 30ch;
  animation: typing 5s steps(30, end) infinite, blink-caret .75s step-end infinite;
  text-align: right;
}

@keyframes typing {
  from {
    width: 0ch
  }
  to {
    width: 30ch
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: var(--fern-green)
  }
}

@media only screen and (max-width: 600px) {
  .logintext {
    font-size: 1.5rem;
    margin-left: 140px;
  }
}

/* Home page CSS */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bgcolorisgf{
  background-color: var(--trans);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--aha);
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition for glow and color */
}

.navbar-brand:hover {
  color: white; /* Optional: Change the color on hover */
  box-shadow: 0 0 8px var(--aha-glow); /* Glow effect */
}




.search-box-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.form-control {
  width: 100%;
  max-width: 590px;
}

.form-check-input {
  margin-right: 10px;
}

/* Style for the label */
.form-check-label {
  font-size: 18px;
  color: white; /* White text for better contrast */
}
.formcheckinpur{
  margin-top: 6px;
}


.toolbarcirclebtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}

.profcon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 200px; /* Adjust this width as necessary */
}

/* .toolbardropdown {
  position: relative;
} */

.dropdown-menu {
  position: absolute;
  right: 90%;
  left: -29%;
  top: 60px;
  width: 300px;
  padding: 10px;
  
}

.dropdown-menu a{
  font-weight: bold;
  cursor: pointer;
}

.userdropdown .dropdown-item {
  padding: -5px;
}

.topcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

.favoutite {
  margin-left: auto;
  margin-right: 10px;
  font-size: 24px;
}

.favoutite:hover i {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  color: var(--aha);
}

.favoutite:hover::after {
  content: attr(data-title);
  transform: translateX(-50%);
}

.addinglist {
  margin-left: auto;
  margin-right: 10px;
  font-size: 22px;
  padding: 10px 15px; /* Added padding for better spacing */
  background-color: var(--aha); /* Light background color */
  border-radius: 8px; /* Rounded corners */
  border: none; /* Remove border */
  cursor: pointer; /* Change cursor to pointer on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

.addinglist:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Deeper shadow on hover */
}

.addinglist:hover i {
  transform: scale(1.2);
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--aha); /* Assuming var(--aha) is defined somewhere */
}

.addinglist:hover::after {
  content: attr(data-title);
  position: absolute; /* Absolute positioning for tooltip */
  left: 50%;
  bottom: 100%; /* Position above the button */
  transform: translateX(-50%) translateY(-10px); /* Center horizontally and add space above */
  background-color: rgba(0, 0, 0, 0.75); /* Dark background for tooltip */
  color: #fff; /* White text */
  padding: 5px 10px; /* Padding inside tooltip */
  border-radius: 4px; /* Rounded corners */
  white-space: nowrap; /* Prevent text from wrapping */
  opacity: 0; /* Start invisible */
  pointer-events: none; /* Prevent interaction with tooltip */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for tooltip */
}

.addinglist:hover::after {
  opacity: 1; /* Show tooltip */
  transform: translateX(-50%) translateY(-15px); /* Move tooltip slightly upwards */
}





.nav-barh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--trans); */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.nav-barhw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--trans);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin: 20px 0; */
}



.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex: 1;
}

.button-group .btn {
  padding: 10px 20px;
  border: none;
  background-color: var(--aha);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-group .btn:hover {
  background-color: var(--slblack);
  transform: translateY(-2px);
}

.button-group .btn.active {
  background-color: #004085;
  transform: translateY(-2px);
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #e2e6ea;
  color: #007bff;
}

.nav-link.active {
  background-color: #007bff;
  color: white;
}

.nav-link .fa-heart {
  font-size: 24px;
  margin-left: 5px;
}

/* Responsive adjustments */
@media only screen and (max-width: 1200px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .form-control {
    max-width: 500px;
  }

  .profcon {
    width: 150px;
  }

  .dropdown-menu {
    width: 700px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 1rem;
  }

  .form-control {
    max-width: 400px;
  }

  .profcon {
    width: 100px;
  }

  .dropdown-menu {
    width: 180px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-box-container {
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .form-control {
    max-width: 100%;
  }

  .profcon {
    width: auto;
  }

  .dropdown-menu {
    width: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    font-size: 0.875rem;
  }

  .form-control {
    max-width: 100%;
  }

  .profcon {
    width: auto;
  }

  .dropdown-menu {
    width: 330px;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown-menu {
    right: auto;
    left: 0;
  }
}


  .col-md-4 {
    flex: 0 0 25%; /* Set width to 25% for four cards per row */
    max-width: 25%;
  }

  .card {
    margin-bottom: 15px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    /* padding: 1rem; */
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }

  .card-body {
    padding: 0;
    
  }

  .add-button,
  .remove-button {
    width: 100%;
  }

  @media (max-width: 768px) {
    .col-md-4 {
      flex: 0 0 50%; /* Set width to 50% for two cards per row on medium devices */
      max-width: 50%;
    }
  }

  @media (max-width: 576px) {
    .col-md-4 {
      flex: 0 0 100%; /* Set width to 100% for single card per row on small devices */
      max-width: 100%;
    }
  }
  .card {
    position: relative;
  }

  .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px; /* Add space between buttons */
    opacity: 0;
    transition: opacity 0.3s ease;
  }



  .card:hover .button-container {
    opacity: 1;
  }

  .mnb .card:hover img {
    filter: blur(0px);
  }



  .movie-card:hover .button-container {
    opacity: 1;
  }

  .card:hover img {
    filter: blur(2px); /* Blur effect on image hover */
  }

  .movie-card:hover img {
    filter: blur(2px); /* Blur effect on image hover */
  }

  .add-button, .info-button {
    background-color: var(--aha);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 48px;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    display: block;
    cursor: pointer;
  }

  .add-button i, .info-button i {
    line-height: 48px; /* Align icon vertically within the button */
  }

  .add-button:hover, .info-button:hover {
    font-size: 38px;
  }

/* Glassmorphism effect for the modal */
.glass-effect {
  background: rgba(49, 43, 43, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  color: white;
}

.close {
  color: #fff;
  opacity: 0.8;
}

.close:hover {
  opacity: 1;
}

/* Styling for the dropdown */
.styled-select {
  background: var(--trans);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 10px;
  border-radius: 8px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 8px 10px;
}

.styled-select:focus {
  border-color: white;
  outline: none;
}

.modal-footer button {
  background-color: var(--aha);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-footer button:hover {
  background-color: var(--aha-hover); /* Assuming you have a hover color defined */
  transform: scale(1.05);
  color: white;
}

/* info of imagecss */

.modal-matter::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-matter {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* file.css */
@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Orbitron:wght@400..900&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko&display=swap');
.blink{
    text-decoration: none;
    
    border-left: 5px solid rgba(255, 255, 255, 0); 
    padding-left:10px ;
    color:#fefefe;
    font-weight: bold;
    font-family: "Orbitron", cursive;
    transition:border-left .5s;
}
.blink-container {
    display: flex;
    justify-content: flex-start;
}
.bshow{
    width: fit-content;
    border: 1px solid rgb(245, 98, 41);
    padding: 10px;
    color:rgb(245, 98, 41);
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-right: auto;
    margin-left: 10px;
}
.button_act_dir{
    margin-top: -5px;
    margin-left: 10px;
    width: fit-content;
    border: 1px solid rgb(245, 98, 41);
    padding: 10px;
    color:rgb(245, 98, 41);
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
}
/*modal*/
.modal {
    
    display: none; /* Hide by default */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
ul{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
}
li{
    flex-direction: column;
}
@media (max-width: 800px) {
    li{
        flex-direction: row;
        margin-bottom: 5px;
    }
}
/* Add this class */
.moviedisplay .modal.show {
    display: flex; /* Show when the modal is visible */
    align-items: center;
    justify-content: center;
}

.moviedisplay .modal-content {
    background:rgba(0, 0, 0,0.6);
    margin: 2% auto;
    /* margin-top: 100px; */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
.moviedisplay .modal-content > h2{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; 
    color: #fefefe;
    padding: 5px 0 5px 5px;
    background: linear-gradient(to right,rgba(108, 106, 106, 0.863),rgba(45, 30, 30, 0.025));
    width: fit-content;
    border-left:5px solid white ;
}
.moviedisplay .close {
    color: var(--aha);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.moviedisplay .close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}
.moviedisplay .modal-image{
    margin-right: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}
.moviedisplay .modal-image img{
    width: 200px;
    border-radius: 5px;
}
.moviedisplay .modal-matter{
    overflow: auto;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(245, 98, 41);
    flex:1;
    height:400px;
}
.moviedisplay .genre{
    border: 1px solid rgb(146, 75, 75);
    padding: 10px;
    color: #6e4040;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    margin-left: 300px;
    margin-top: 80px;
}
.moviedisplay .modal-matter > h2{
    text-align: left;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-left:10px ;
    color:#fefefe;
    background: linear-gradient(to right,rgb(245, 98, 41,0.25),rgba(45, 30, 30, 0.025));
    border-left: 5px solid rgb(245, 98, 41); 
}
.moviedisplay .modal-matter > .plot{
    border-left: 5px solid rgba(255, 255, 255, 0); 
    padding-left:10px ;
    padding-right:10px ;
    color:#fefefe;
    font-family: "Briem Hand", cursive;
    transition:border-left .5s;
}
.moviedisplay .modal-matter  h4{
    text-align: left;
    border-left: 5px solid rgba(255, 255, 255, 0); 
    padding-left:10px ;
    color:#fefefe;
    font-family: "Orbitron", cursive;
    transition:border-left .5s;
}
.moviedisplay .modal-matter span{
    border-left: 5px solid rgba(255, 255, 255, 0); 
    display: flex;
    flex-wrap: wrap;
    transition:border-left .5s;
}
.moviedisplay .modal-matter > h2:hover,.moviedisplay .modal-matter > .plot:hover,.moviedisplay .modal-matter >h4:hover,.moviedisplay .act_dir:hover{
    border-left: 5px solid rgb(245, 98, 41); 
    background:linear-gradient(to right,rgb(245, 98, 41, 0.276),rgba(0, 0, 0, 0.285));
}
.moviedisplay .modal-matter span li{
    color: #fefefe;
    list-style-type:circle;
    margin-left: 10px;
    margin-bottom: 10px;
} 
.moviedisplay .modals{
    align-items: center;
    flex:1;
    display: flex;
}

.moviedisplay .act_dir {
    border-left: 5px solid rgba(255, 255, 255, 0); 
    display: flex;
    flex-wrap: wrap;
    transition:border-left .5s;
}
.moviedisplay .act_dir >h4{
    margin-right:100px;
}

.moviedisplay .act_dir_1 {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow flexibility in width */
}



.moviedisplay .movies-div{
    padding: 5px;
    border: 2px solid white;
    width:auto;
    margin: 5px;
    display: flex;
    overflow-x: auto;
    border-radius: 5px;
}
.moviedisplay .movie-div{
    border: 1px solid rgb(255, 255, 255);
    margin-right: 10px;
    border-radius: 5px;
}
.moviedisplay .movie-div img{ 
    width: 200px;
    border-radius: 5px;
}
.moviedisplay .movie-div> p{
    color: #fefefe;
    font-family: "Orbitron", cursive;
    font-weight: bolder;
}
.moviedisplay .titlesuper{
    font-size: large;
    padding: 2px;
    font: small-caption;
    border-radius: 5px;
    border: 1px solid rgb(245, 98, 41);
    vertical-align:super;
}
/* Responsive Design */
@media (max-width: 800px) {
  .moviedisplay .close {
        /* margin-top: 100px; */
    }
    .moviedisplay .lan1,
    .moviedisplay .act_dir_1{
        flex-direction: row;
    }
    .moviedisplay  .modals {
        margin-top: 20px;
        flex-direction: column;
    }
    .moviedisplay .modal-content{
        /* margin-top: 1200px; */
        margin: 2% auto;
    }
    .moviedisplay .modal-image,
    .moviedisplay .modal-matter {
        margin-left: 0;
        
    }
    
    .moviedisplay .modal-matter {
        width: 100%;
    }
    .moviedisplay .modal-image img {
        width: 100%;
    }
}


/* usersmovielisr.css  */


.btn-toggle {
  display: flex;
  align-items: center;
}

.btn-primary,
.btn-secondary {
  font-size: 1rem;
  padding: 5px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
  margin-left: 10px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary:hover {
  background-color: var(--slblack);
}

.btn-add {
  background-color: #28a745;
  color: #fff;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-add:hover {
  background-color: #218838;
}



/* Style for the list container */
.list-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.list-name {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Style for the movie grid */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* Style for the movie card */
.movie-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
}
.movie-cardpub {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Style for the movie image */
.movie-image {
  width: 100%;
  display: block;
}

/* Style for the card body */
/* .card-body {
  padding: 1rem;
} */

/* Style for the buttons */
/* .btn-danger, .btn-info {
  margin-top: 0.5rem;
} */

/* Style for the list header */
.list-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

/* Style for the list name and buttons container */
.list-name-buttons {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: flex-start;
  white-space: nowrap;
}

/* Style for the movie card */
.movie-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Style for the movie image */
.movie-image {
  width: 100%;
  display: block;
}

.remove-button, .info-button {
  background-color: var(--aha);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 48px;
    font-size: 34px;
    line-height: 48px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.remove-button i, .info-button i {
  line-height: 48px; /* Align icon vertically within the button */
}

.remove-button:hover, .info-button:hover{
  font-size: 38px;
}
.remove-button,.info-button{
  width: 100%;
}

.tbtn, .ibtn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  user-select: none;
}

/* Danger button styles */
.tbtn-danger {
  background-color: var(--aha);
  color: white;
}

.tbtn-danger:hover,
.tbtn-danger:focus {
  background-color: var(--aha);
  box-shadow: 0 0 0 0.2rem var(--aha);
}

/* Info button styles */
.tbtn-info {
  background-color: #17a2b8;
  color: white;
  margin-left: 8px; /* Spacing between buttons */
}

.tbtn-info:hover,
.tbtn-info:focus {
  background-color: #138496;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

/* Icon styles */
.fa {
  justify-content: center;
}


.ibtn-danger {
  background-color: var(--slblack);
  color: white;
}

.ibtn-danger:hover,
.ibtn-danger:focus {
  background-color: var(--slblack);
  box-shadow: 0 0 0 0.2rem var(--slblack);
}

/* Info button styles */
.tbtn-info {
  background-color: #17a2b8;
  color: white;
  margin-left: 8px; /* Spacing between buttons */
}

.ibtn-info:hover,
.ibtn-info:focus {
  background-color: #138496;
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

/* Icon styles */
.fa {
  justify-content: center;
}



.back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  color: var(--aha);
}

/* Optional: Add a hover effect */
.back-button:hover {
  color: #f8f5f5;
}

.nav-barhw h3{
  color: var(--aha);
  cursor: pointer;
}
.heart{
  margin-top: 8px;
}
.nav-barhw h3:hover{
  color: white;
}
.navbar a{
  color: var(--aha);
}


/* loader.css  */

.loader {
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 1s ease-in infinite alternate;
}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: #FF3D00;
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #FFF;
  transform: translateX(10px);
}

@keyframes split {
 0% , 25%{ width: 64px }
 100%{ width: 148px }
}

/* toatmessage */
.Toastify__toast--success {
  background-color: var(--toastify-color-error);
}
.Toastify__toast--error {
  background-color: var(--toastify-color-error);
}
  

/* nolistsiame */

.no-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this value as needed */
  text-align: center;
}

.no-lists img {
  max-width: 100%;
  height: auto;
}

.no-lists p {
  font-size: 1.5em; /* Adjust the font size as needed */
  margin-top: 20px; /* Add some margin between the image and the text */
}

.nolistsava{
  color: white;
}